@use '../../../../assets/styles/shadow';
@use '../../../../assets/styles/spacing';
@use '../../../../assets/styles/colors';

.card{
    width: 100%;
    height: 100%;
    background-color: colors.$background-card-gray;
    box-shadow: shadow.$box-shadow-default;
    border-radius: spacing.$spacing-m;

    .card__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: spacing.$spacing-g;
    }

    &:hover{
        transform: translateY(-4px);
        box-shadow: shadow.$box-shadow-hover;
    }

    .pin{
        background-image: url('../../../../assets/images/pin-icon.png');
    }
}

